<h1 class="mt-2 mb-2 text-center">Últimas Publicaciones</h1>

<%= link_to "Nueva Publicación", new_article_path, class: "btn btn-success" %>
<div class="col-lg-8 col-md-10 mx-auto">
    <!-- Article content-->
    <% @articles.each do |article| %>
      <%= render article %>
      <p><%= link_to "Ver más", article, class: "btn btn-primary" %></p>
    <% end %>
</div>
