<h1 class="mt-2 mb-2 text-center">Últimas Publicaciones</h1>

<%= link_to "Nueva Publicación", new_article_path, class: "btn btn-success" %>
<div class="col-lg-8 col-md-10 mx-auto">
  <!-- Article content-->
  <% @articles.each do |article| %>
    <div class="article">
      <%= render article %>
      <p><%= link_to "Ver más", article, class: "btn btn-primary my-1" %></p>
      <div class="btn-group" role="group">
        <% Article::Kinds.each do |kind| %>
          <% total_reactions = article.reactions.where(kind: kind).count %>
          <% user_reaction = current_user.reactions.find_by(article_id: article.id, kind: kind) %>
          <% icon_class = Article::ReactionsIcons[kind] %>

          <% button_class = user_reaction&.kind == kind ? "btn btn-success" : "btn btn-primary" %>

          <%= button_to "<i class='#{icon_class}'></i> #{Article::KindsSpanish[kind]} (#{total_reactions})".html_safe, new_user_reaction_path(article_id: article.id, reaction_type: "article", kind: kind), method: :post, class: button_class %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>